html, body {
    margin: 0;
    padding: 0%;
    width: 100%;
  }
  
  
  header {
      position: fixed;
      top: 0;
    width: 100%;
      background-color: #5c585c;
     color: #f0f0f0;
     padding: 10px 0;
     text-align: center;
     z-index: 1000;
  }
  
  .sidebar {
     position: sticky;
      top: 35px;
      background-color: #f0f0f0;
   width: 200px;
   height: 100vh;
     float: left;
      color: rgb(1, 1, 0);
     padding: 10px;
  }
  section {
      height: 500px;
        padding: 20px;
        border: 1px solid #ddd;
    }
  section:nth-child(1){
      background-color: rgb(223, 84, 153);
      margin-top: 100px;
      color: aliceblue;
  }
  section:nth-child(2){
      background-color: #c56ae0;
      position: relative;
      color: aliceblue;
  }
  section:nth-child(3){
      background-color: rgb(0, 121, 168);
      color: aliceblue;
  }
  .decorativo {
  position: absolute;
  bottom: 10;
  right: 10px;
  padding: 5px;
  background-color: rgb(242, 155, 245);
  }
  main {
     margin-left: 200px;
  }
  footer {
      width: 100%;
      background-color: #043461;
      color: white;
      padding: 10px;
      text-align: center;
  }